@model  Application.Models.Todo.EditarTodoViewModel


<div class="card">
    <div class="card-header">
        Alterando tarefa <span class="badge badge-success">@Model.Todo.Tarefa</span>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Editar", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(d=>d.Todo.Id, new { @style="display: none" })

            <div class="form-group">
                @Html.LabelFor(d => d.Todo.Tarefa)
                @Html.TextBoxFor(d => d.Todo.Tarefa, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Todo.Horario)
                @Html.TextBoxFor(d => d.Todo.Horario, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Todo.Pessoa)
                @Html.DropDownListFor(d => d.Todo.Pessoa.Id, Model.Pessoas, new { @class="form-control" })
            </div>

            <input type="submit" class="btn btn-success" value="Enviar"/>
        }
    </div>
</div>